.container{
    padding: 100px 100px 100px 100px;
}
.box{
    border: 1px solid;
    box-shadow: 5px 8px;
    text-align: center;
    height: 350px;
}

div{
    display:block;
}

html{
    font-family: sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}
label {
    margin-bottom: .5rem;
    display: inline-block;
    width: 100px;
    text-align: right
}

input{
    border: 1px solid #ced4da;
    width: 400px;
    height: 25px;
    border-radius: 5px;
    margin-left: 10px;
}

.row{
    padding-bottom: 6px;
}

.button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 85px;
    height: 30px;
    border-radius: 5px;
}

#cart{
    display:inline-block
    }
    
    #cart-total{
        display: block;
        text-align: center;
        color:#fff;
        background-color: red;
        width: 20px;
        height: 25px;
        border-radius: 50%;
        font-size: 14px;
    }
    
    .cart_box{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
    }
    
    .img-thumbnail{
        border: none;
        padding: 0px;
    }
    
    .name{
        font-weight: bold;
    }
    .price{
        padding-top: 7px;
        float: right;
        font-weight: bold ;
    
    }
    
    .cart-row{
        display: flex;
        align-items: flex-stretch;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;
    
    }
    
    .quantity{
        display: inline-block;
        font-weight: 700;
        padding-right:10px;
        
    
    }
    
    .chg-quantity{
        width: 12px;
        cursor: pointer;
        display: block;
        margin-top: 5px;
        transition:.1s;
    }
    
    .chg-quantity:hover{
        opacity: .6;
    }
    
    .row-image{
        width: 100px;
    }
    
    .p{
        margin-top: 20px;
    }
    
    .rows{
    display:flex
    }
    
    .box-element{
        box-shadow:hsl(0, 0%, 80%) 0 0 16px;
        background-color: #fff;
        border-radius: 4px;
        padding: 10px;
    }
    
    .hidden{
        display: none!important;
    }

    .nav{
        overflow: hidden;
        background-color: white;
        height:35px;
        padding-top: 13px;
        padding-bottom: 10px;
    }

    .nav a{
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        padding: 14px 16px 14px 14px;
        color:black;
    }

    .nav a:hover{
        background-color: gray;
    }

    .containers{
        padding: 10px 100px 100px 100px;
    }

    .rows{
        display:flex;
    }
    
    .table{
        width:100%;
        max-width: 100%;

    }

    a{
        text-decoration: none;
    }

    .element{
        padding-right: 35px;
        width: 580px;
    }

    body{
        margin:0px
    }